.project-list {
  list-style: none;
  margin: 0;
  padding: 0;
  
  > li {
    border: 1px solid $grey-color;
    box-shadow: 0px 0px 5px $grey-color-light;
    display: block;
    margin-bottom: 16px;
    overflow: hidden;
    padding: 10px;
  }

  h3 {
    background: $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    font-size: 16px;
    font-weight: bold;
    margin: -10px;
    margin-bottom: 5px;
    padding: 10px;
  }
  
  dl {
    width: 100%;
  }
  
  dt {
    clear: both;
    float: left;
    font-weight: bold;
    margin-top: 5px;
    width: 25%;
    &:after { content: ": "; }
  }
  dd {
    float: left;
    margin-top: 5px;
    width: 75%;
    
    ul {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
      
      li {
        display: inline;
        padding-right: 5px;
      }
    }
  }
  
}
