.project-list {
  list-style: none;
  margin: 0;
  padding: 0;
  
  h3 {
    border-bottom: 1px solid #999;
    clear: both;
    font-size: 18px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 20px;
  }
  
  dl {
    width: 100%;
  }
  
  dt {
    clear: both;
    float: left;
    font-weight: bold;
    margin-top: 5px;
    width: 25%;
    &:after { content: ": "; }
  }
  dd {
    float: left;
    margin-top: 5px;
    width: 75%;
    
    ul {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
      
      li {
        display: inline;
        padding-right: 5px;
      }
    }
  }
  
}
